.hoverSelectCursor:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
    text-decoration: underline;
}

/* CSS for row dragging */
.row-dragging {
background: #fafafa;
border: 1px solid #ccc;
}

.row-dragging td {
    padding: 6px 13px;
}

.row-dragging.drag-visible {
    opacity: 100%;
    visibility: visible;
    z-index: 1;
}