# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.js

# Compiled output
build

# Test coverage
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Editors and IDEs
.idea
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__MACOSX

# custom
.next
out/
