version: "3.3"

services:
  nextjs:
    ports:
      - 5000:5000
    build:
      context: .
      dockerfile: Dockerfile.local
    volumes:
      - ./src:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    env_file:
      - .env.development