.cell-info-container {
  visibility: hidden;
}
#heatmap-container:hover > .cell-info-container {
  visibility: visible;
}

#heatmap-container canvas {
  left: -30px !important;
  top: -10px !important;
}
